%h1
  Inbox for
  = user.name

%table#inbox
  %thead
    %tr
      %th From
      %th To
      %th Message
      %th Last post
      %th Replies
  %tbody
    - conversations.each do |conversation|
      %tr
        %td= conversation.from_name
        %td= conversation.to_name
        %td
          %p
            %strong= conversation.subject
            = conversation.most_recent_message_body
        %td
          = time_ago_in_words(conversation.most_recent_message_sent_at)
          ago
        %td= conversation.reply_count
